<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/styles.css">

</head>

<body>
    <header class="header">
        <div class="header-sin-banner">

            <div class="logo">
                <a href="/">
                    <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
                </a>
            </div>

            <div class="search">
                <form action="get" method="GET" class="search-bar">
                    <label for="search-bar"></label>
                    <input class="ser" type="search" id="search-bar" name="search-bar" placeholder="Buscar productos, marcas">
                    <button><i class="fas fa-search"></i></button>
                </form>
            </div>

            <div class="compra">
                <p>
                    <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito
                </p>
            </div>
        </div>

        <nav class="nav-links">
            <ul class="nav-links-right">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">TIendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="nav-links-left">
                <li><a href="/registro">Creá tu cuenta</a> <i class="far fa-id-card"></i></li>
                <li><a href="./login">Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars burger"></i>
        </div>
    </header>
    <img class="banner" src="/images/img-home-banner.jpg" alt="banner" width="100%">

    <main>
        <form action="#" method="POST" class="registro-formulario login-flex">
            <div class="registro-campos">
                <label for="nombreUsuario"></label>
                <input type="text" id="nombreUsuario" name=nombreUsuario placeholder="Nombre de usuario" class="registro-input login-input">
            </div>
            <div class="registro-campos">
                <label for="pass"></label>
                <input type="text" name="pass" id="pass" placeholder="Contraseña" class="registro-input login-input">
            </div>
            <div class="registro-campos login-button">
                <a href="/"></a><button type="submit">Enviar</a></button>
            </div>



        </form>



    </main>

    <footer>
        <div class="flex-footer">
            <section class="footer-section">
                <i class="fas fa-credit-card iconito"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro</p>
            </section>
            <section class="footer-section ">
                <i class="fas fa-gift iconito"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
            </section>
            <section class="footer-section">
                <i class="fas fa-user-shield iconito"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </section>
        </div>
        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L</p>
        </section>

    </footer>

</body>

</html>