:root {
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --grisOscuro: #666;
    --grisClaro: #ebebeb;
    --verde: #39b54a;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}


/* Header */

header {
    background-color: var(--amarillo);
    padding: 10px;
}

.nav-links {
    display: none;
}

h2 {
    font-size: 24px;
    margin: 0 auto;
    padding: 20px 0;
    color: var(--grisOscuro);
}

.precio {
    font-size: 18px;
}

.descuento .descripcion {
    font-size: 16px;
}

li {
    list-style: none;
}

ul {
    padding: 0px;
}

a {
    text-decoration: none;
    color: black;
}


/* header */

.logo {
    width: 45%;
}

.search {
    display: flex;
    justify-content: center;
    width: 50%;
}

.ser {
    width: 90%;
}

.search-bar {
    display: flex;
}


/* .logo-search {
height: 60px;
display: flex;
align-items: center;
justify-content: center;
padding: 10px;
gap: 10px;
} */

.header-sin-banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.compra {
    text-align: center;
    font-size: 14px;
    padding: 10px;
}

.burger-menu {
    background-color: var(--celeste);
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px auto;
    color: white;
    text-align: center;
    border-radius: 8px;
}

.burger-menu i {
    display: block;
    font-size: 20px;
    text-align: center;
    line-height: 2;
}

.banner {
    display: block;
}


/* main */

main {
    background-color: var(--grisClaro);
}

section {
    width: 90%;
    margin: 0 auto;
}

article img {
    display: block;
    margin: auto;
    max-width: 100%;
}

article {
    margin-bottom: 10px;
    padding: 10px;
}

.logo-compra {
    display: flex;
    color: var(--verde);
    justify-content: flex-end;
    align-items: flex-end;
}

.fa-truck {
    position: absolute;
    line-height: 2;
    padding: 0px 5px;
    font-size: 15px;
    z-index: 2;
    transform: rotate(0deg);
    transition: transform 1.5s ease-out;
}

.fa-truck:hover {
    transform: rotate(-90deg);
}

.circulo {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid var(--verde);
    z-index: 1;
    background-color: white;
}

.descuento {
    color: var(--verde);
}

.info-producto {
    background-color: white;
    border-top: 1px solid var(--grisClaro);
    padding: 15px;
}

.flex {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0px;
}

.descuento {
    flex-grow: 0.7;
}

.precio {
    flex-grow: 0.3;
}


/* footer */

footer {
    background-color: white;
    text-align: center;
    padding: 10px;
    margin: 5px;
    padding: 20px;
}

footer section {
    margin: 20px auto;
}

footer section p {
    margin: 0px;
}

footer section i {
    font-size: 2em;
    color: var(--celeste);
    margin-bottom: 10px;
}

footer h3 {
    margin: 0 auto;
}


/* Register.html */

.registro-formulario {
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    border: none;
}

.registro-input {
    width: 100%;
    border: none;
    box-shadow: 1px 1px 2px var(--grisOscuro);
    border-radius: 3px;
    height: 20px;
}

input[type="file" i] {
    width: 80%;
}

.registro-campos {
    margin: 20px;
}

.registro-titulos {
    margin: 10px 0;
}

.login {
    text-align: center;
    width: 90%;
    height: 20vh;
    margin: 0 auto;
}

.registro-botones-abajo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 36px;
}

.registro-botones-abajo button {
    width: 70px;
    margin: 10px 0;
    border: none;
    background-color: var(--celeste);
    height: 20px;
    border-radius: 3px;
    color: white;
    box-shadow: 1px 1px 2px var(--grisOscuro);
    transition: .5s;
}

.registro-botones-abajo button:hover {
    background-color: #0022AA;
    cursor: pointer;
}

.registro-perfil input {
    margin: 5px 10px;
    box-shadow: 1px 1px 2px var(--grisOscuro);
}

.login-flex {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.login-button button {
    width: 100%;
    border: none;
    height: 20px;
    border-radius: 3px;
    color: white;
    box-shadow: 1px 1px 2px var(--grisOscuro);
    background-color: var(--celeste);
    transition: .5s;
}

.login-button button:hover {
    background-color: #0022AA;
    cursor: pointer;
}

.login-button button a {
    color: white;
}

.no-registrado {
    font-size: 14px;
    margin: 20px;
}


/* Media Querys */

@media (min-width: 361px) {
    .header-sin-banner {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin: 15px;
    }
    .burger-menu {
        display: none;
    }
    .logo,
    .compra {
        width: 30%;
        padding: 0px;
    }
    .search {
        width: 40%;
    }
    .search-bar {
        width: 80%;
        justify-content: space-around;
    }
    .compra p {
        font-size: 14px;
    }
    .nav-links {
        font-size: 12px;
        display: flex;
        justify-content: space-between;
    }
    .nav-links-right,
    .nav-links-left {
        display: flex;
        padding: 5px;
        gap: 10px;
    }
    .con-flex {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .descuento {
        flex-grow: 0.7;
    }
    .precio {
        flex-grow: 0.3;
    }
    article {
        cursor: pointer;
        max-width: 45%;
        height: auto;
        transition: .5s;
    }
    article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .descripcion {
        position: relative;
        left: 20px;
        display: block;
        color: transparent;
        transition: .5s ease-in-out;
    }
    article:hover .descripcion {
        color: black;
        left: 0px;
    }
    .registro-formulario {
        width: 75%;
        padding: 20px;
    }
    .registro-botones-abajo {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .login-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .login-button button {
        width: 100%;
        border: none;
        background-color: var(--celeste);
        height: 20px;
        border-radius: 3px;
        color: white;
        box-shadow: 1px 1px 2px var(--grisOscuro);
        padding: 0 20px;
    }
}

@media (min-width: 769px) {
    .burger-menu {
        display: none;
    }
    .compra p {
        font-size: 16px;
    }
    article {
        /* box-shadow: 0px 0px 10px rgb(100, 100, 100); */
        max-width: 24%;
        height: auto;
    }
    .nav-links {
        font-size: 16px;
    }
    .registro-formulario {
        width: 50%;
        padding: 20px;
    }
    input#domicilio.registro-input {
        margin-top: 40px;
    }
    .perfil-usuario {
        display: flex;
        flex-direction: column;
        line-height: 1.5;
    }
    .login-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .login-input {
        width: 300px;
    }
    .flex-footer {
        display: flex;
        justify-content: space-evenly;
    }
    .footer-section {
        width: 25%;
    }
    h3 {
        font-size: 16px;
    }
    .footer-section p {
        font-size: 14px;
    }
    .iconito {
        transition: all .5s ease-in-out;
    }
    .footer-section:hover .iconito {
        color: #0022AA;
        transform: scale(1.1);
    }
}